.fileDisplay {
  align-items: center;
  display: flex;
  margin: 1px 0;
}

.token {
  background: lightblue;
  border-radius: 4px;
  font-family: Menlo, Courier, monospace;
  font-size: 14px;
  margin: 0 1px;
}
